/*
table, th, td {
    border: 1px solid;
  }
  */

 .center {
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #04AA6D;
    color: white;
  }